$black: #000000;
$white: #ffffff;
$green: rgba(99, 169, 20, 0.15);
$grey1: rgba(26, 26, 26, 1);
$greenGlow: 0 8px 16px 0 rgba(99, 169, 20, 0.2), 0 12px 40px 0 rgba(99, 169, 20, 0.19);
$red:rgba(235, 0, 0, 1);