$black: #000000;
$white: #ffffff;
$green: rgba(99, 169, 20, 1);
$grey1: rgba(26, 26, 26, 1);
$blueGlow: 0 8px 16px 0 rgba(41, 176, 255, 0.2), 0 12px 40px 0 rgba(41, 176, 255, 0.19);
$red:rgba(235, 0, 0, 1);
$paperShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$blue: rgba(41, 176, 255, 1);