$black: #000000;
$white: #ffffff;
$green: #63a914;
body {
	background-color: $black ;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	display: flex;

}

.container1 {
	display: block;
	width: 100%;
	margin: 0 5%;
}

.container2 {
	display: block;
	width: 100%;
	margin: 0 5%;
}


#box1 {
	display: block;
	border: 2px solid red;
	width: 100%;
	height: auto;
	
}

img {
	width: 100%;
    height: 100%; 

}

#box2 {
	border: 2px solid $green;
	width: 40%;
	height: auto;
	margin: 0 5%;
}

.text {
	width: 100%;
	color: $white;
	text-align: center;
}

@import 'media';