@import 'colors';
@import 'mixins';
@import 'sideLabel';
@import 'navbar';
body{
	box-sizing: border-box;
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	



 #wrapper {
	margin: 2%;
	border-radius: 7px;
	box-shadow: $paperShadow;
	


header {
	color: $black;
	width: 80%;
	margin: 0 10%;
	
	h1 {
		width: 100%;
		padding-top: 3%;
		text-align: center;
		font-size: 50px;
	}
	
}




.container {
	box-sizing: border-box;
	
	display: flex;
	
	
	

	.container1 {
		
		flex-basis: 50%;
		
		margin: 10px auto;
		
		padding:1% ;
		
		#box1 {
			@include innerbox;					
		}

		#box2 {
			@include innerbox;
		}

		.text {
			font-family: 'Merriweather', serif;
			letter-spacing: 1px;
			line-height: 20px;
			font-size: 14px;
			position: relative;
			
			width: 100%;
			color: $black;
			text-align: center;
			margin: 5% 0;
			padding: 2% 2% 2% 2%;
			box-sizing: border-box;
			border-radius: 7px;
			box-shadow: $paperShadow;
			transition: 0.5s;
			p {
				margin: 0;
				padding: 2%;
			}
			
		}

		&:hover > #box1 {
				transform: rotate(-5deg);
			}
		&:hover > #box2 {
				transform: rotate( 5deg);
			}
		&:hover > .text {
				transform: scale(1.05, 1.05);
			}

		
	}

}
}
}
@import 'media';












