@import 'colors';

@media screen and (max-width: 680px) {
	
	nav {
		@import 'miniNav';
		ul {
	 		li {
				box-sizing: border-box;
				display: block;
				width: 96%;
				color: $white;
				padding: 10px;
				margin: 0 auto;
			}
		}
	}

	.container {
		display: block;
		width: auto;
		.container1 {
			

		}	
	}

	
}