@import 'colors';

@media screen and (max-width: 705px) {
	
	nav {
		
		padding: 0;

		@import 'miniNav';
		ul {
			max-height: 0;
	 		li {
				box-sizing: border-box;
				display: block;
				width: 96%;
				color: $black;
				padding: 10px;
				margin: 0 auto;

			}
		}
	}

	.open {
		max-height: 20em;
	}

	.container {
		display: block;
		width: auto;
			
	}

	
}