@import 'colors';
#handle {
	border: 1px solid $white;
	border-radius: 7px;
	width: 50px;
	height: 40px;
	margin: 5px auto;
	cursor: pointer;

	#icon {
		#stripe {
			background-color: $white;
			border-radius: 10px;
			height: 5px;
			width: 36px;
			margin: 6px auto;
		}
	}

	&:hover {
	box-shadow: $greenGlow;
	background-color: $green;
	}
}

