@import 'colors';

nav {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	border-radius: 5px;
	width: 80%;
	margin: 0 10%;
	box-shadow: $greenGlow;
	padding: 5px 0;
	
	
	ul {
		box-sizing: border-box;
		width: auto;
		margin: 0 ;
		padding: 0;

		text-align: center;
		overflow: hidden;


		li {
			font-family: 'Oswald', sans-serif;
			letter-spacing: 2px;
			color: $white;
			list-style-type: none;
			display: inline-flex;
			padding: 5px 5%;
			border-bottom: 1px solid transparent;
		}

		li:hover {
			cursor: pointer;
			background-image: linear-gradient(to bottom, transparent, rgba(99, 169, 20, 0.5));
			border-radius: 7px;
			border-bottom: 1px solid $white;

			
		}
	}
}