$white: #ffffff;
$black: rgba(0, 0, 0, 0.64);

$grey1: rgba(26, 26, 26, 1);
$greenGlow: 0 8px 16px 0 rgba(99, 169, 20, 0.2), 0 12px 40px 0 rgba(99, 169, 20, 0.19);
nav {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	border-radius: 5px;
	width: 80%;
	margin: 0 10%;
	box-shadow: $greenGlow;
	
	ul {
		box-sizing: border-box;
		width: auto;
		margin: 0 1%;
		padding: 0;
		text-align: center;

		li {
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
			color: $white;
			list-style-type: none;
			display: inline-flex;
			padding: 10px 5%;

		}

		li:hover {
			cursor: pointer;
			background-image: linear-gradient(to bottom, transparent, rgba(99, 169, 20, 0.5));
			border-radius: 5px;
			
		}
	}
}