$white: #ffffff;
$black: #000000;
$grey1: rgba(26, 26, 26, 1);
nav {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	border-radius: 5px;
	width: 80%;
	margin: 0 10%;
	
	ul {
		box-sizing: border-box;
		width: auto;
		margin: 0 1%;
		padding: 0;
		text-align: center;

		li {
			color: $white;
			list-style-type: none;
			display: inline-flex;
			padding: 10px 5%;

		}

		li:hover {
			cursor: pointer;
			background-image: linear-gradient(to bottom, $grey1, rgba(99, 169, 20, 0.5));
			border-radius: 5px;
			
		}
	}
}