@import 'colors';

nav {
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	border-radius: 5px;
	width: 80%;
	margin: 0 10%;
	box-shadow: $paperShadow;
	padding: 5px 0;
	
	
	ul {
		box-sizing: border-box;
		width: auto;
		margin: 0 ;
		padding: 5px;
		transition: max-height 1s;
		text-align: center;
		overflow: hidden;
		

		li {
			font-family: 'Oswald', sans-serif;
			letter-spacing: 2px;
			color: $black;
			list-style-type: none;
			display: inline-flex;
			padding: 5px 5%;
			transition: 0.7s;
		}

		li:hover {
			cursor: pointer;
			background-color: rgba(41, 176, 255, 0.9);
			border-radius: 7px;
			box-shadow: $paperShadow;

			
		}
	}
}