@import 'colors';
@import 'mixins';
#parentBlock {
		position: fixed;
		background-color: $grey1;
		float: left;
		height: 50px;
		width: 60px;
		margin: 10px 0;
		transition: width 1s;
		box-shadow: $paperShadow;
		cursor: pointer;
		z-index: 1;
		
		#childBlock {
			margin: 10px 0px;
			display: block;
			position: relative;
			float: left;
			#plank1 {
				@include plank;

			}

			#plank2 {
				@include plank;
			}

			#plank3 {
				@include plank;
			}
		}

		&:hover > #childBlock > #plank1 {
			width:  20px;

		}

		

		&:hover > #childBlock > #plank3 {
			width:  30px;
		}

		.sideIcon {
			display: block;
			height: 0;
			width: 0;		
			
			transition: opacity 0.5s;
			
			flex-direction: row;
			a {
				float: left;
				display: block;
				opacity: 0;
				height: 0;
				width: 0;
				
				img {
					height: 0;
				width: 0;
					&:hover {
						
					}
				}
			}
		}
		
	}

	


	#parentBlock.active {
			
		width: 300px;	
		.sideIcon {
			
			position: relative;
			top: 15px;
			display: flex;

			height: 0;
			width: 0;
			a {	

				float: none;
				display: block;
				transform: scale(0.8, 0.8);
				transition: scale 0.5s;
				opacity: 1;
				height: 30px;
				width: 60px;
				img {
					
					height: auto;
					width: auto;
					
					
				}

				&:hover {
						transform: scale(1, 1);
					}

			}
		}

	}